<div class="item-list" ng-class="{'item-list-tools-open':showtools}">

	<div ng-if="viewMode.view.list" class="list-view">
		<div class="item-list-row item-list-row-header" ng-if="!options.noHeader">
			<div ng-repeat="header in options.displayItems" class="list-item-{{ header.field }}"
			     ng-class="{
			     'flex-fill': header.fill,
			     'active': header.field === options.orderBy
			     }">
				{{ ::header.label }}
			</div>
		</div>
		<div class="scroll-container">
			<!-- if draggable -->
			<div ng-if="!options.drag.type && !options.linkCell">
				<div list-row options="options" ng-repeat="item in data | limitTo:10 track by item._id"
				     data="item"
				     selection-model
				     selection-model-mode="multiple"
				     selection-model-cleanup-strategy="deselect"
				     selection-model-on-change="updateSelection(item)">
				</div>
			</div>

			<div ng-if="options.drag.type === 'draggable' && !options.linkCell">
				<div list-row options="options" ng-repeat="item in data | limitTo:10 track by item._id"
				     data="item"
				     draggable="true"
				     effect-allowed="copy"
				     draggable-data="item"
				     draggable-type="{{ options.drag.item_type }}"


				     selection-model
				     selection-model-mode="multiple"
				     selection-model-cleanup-strategy="deselect"
					 selection-model-on-change="updateSelection(item)">
				</div>
			</div>

			<div ng-if="options.drag.type === 'target' && !options.linkCell">
				<div list-row options="options" ng-repeat="item in data | limitTo:10 track by item._id"
				     data="item"

				     drop="options.drag.drop($data, $event, item)"
				     drop-accept="'json/{{ options.drag.target_type }}'"
				     drop-effect="copy"
				     drag-over="options.dragover($event)"

				     selection-model
				     selection-model-mode="multiple"
				     selection-model-cleanup-strategy="deselect"
				     selection-model-on-change="updateSelection(item)">
				</div>
			</div>

			<!-- if link list -->
			<div ng-if="!options.drag.type && options.linkCell">
				<div list-row options="options" ng-repeat="item in data | limitTo:10 track by item._id"
				     data="item"
				     ng-click="goto(item)"
				     selection-model
				     selection-model-mode="multiple"
				     selection-model-cleanup-strategy="deselect"
				     selection-model-on-change="updateSelection(item)">
				</div>
			</div>
			<div ng-if="options.drag.type === 'target' && options.linkCell">
				<div list-row options="options" ng-repeat="item in data | limitTo:10 track by item._id"
				     data="item"
				     ng-click="goto(item)"
				     drop="options.drag.drop($data, $event, item)"
				     drop-accept="'json/{{ options.drag.target_type }}'"
				     drop-effect="copy"
				     drag-over="options.dragover($event)"

				     selection-model
				     selection-model-mode="multiple"
				     selection-model-cleanup-strategy="deselect"
				     selection-model-on-change="updateSelection(item)">
				</div>
			</div>
		</div>
	</div>

	<div ng-if="viewMode.view.grid" class="row tile-grid">

		<div class="item-list-row item-list-row-header" ng-if="!options.noHeader">
			<div ng-repeat="header in options.displayItems" class="{{ ::header.field }}">
				{{ ::header.label }}
			</div>
		</div>
		<div class="scroll-container">
			<div ng-if="!options.drag.type"
				 grid-item options="options" ng-repeat="item in data | limitTo:10 track by item._id"
			     data="item"
			     selection-model
			     selection-model-mode="multiple"
			     selection-model-cleanup-strategy="deselect"
			     selection-model-on-change="updateSelection(item)"
			     ng-class="{selected:selected}"></div>
			<div ng-if="options.drag.type === 'draggable'"
			     grid-item options="options" ng-repeat="item in data | limitTo:10 track by item._id"
			     data="item"
			     draggable="true"
			     effect-allowed="copy"
			     draggable-data="item"
			     draggable-type="{{ options.drag.item_type }}"
			     selection-model
			     selection-model-mode="multiple"
			     selection-model-cleanup-strategy="deselect"
			     selection-model-on-change="updateSelection(item)"
			     ng-class="{selected:selected}"></div>
		</div>
	</div>
</div>
